body {
  background-color: pink;
}

/* for navbar component */
.top-navbar {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 50px;

  #items {
    margin-left: auto;
  }
}

/* for RequestCard component */
.request-card-link {
  text-decoration: none;
}

.request-card {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.request-card-productName,
.request-card-price,
.request-card-country {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
  margin-bottom: 0.1rem;
}

.request-card-productName {
  font-size: 3vw;
}

.request-card-country {
  font-size: 3vw;
}

.request-card-price {
  font-size: 2.5vw;
}

/* for RequestHelperView component */
.fas {
  color: black;
}

.product-name {
  text-align: center;

  h4 {
    margin-bottom: 0px;
  }
}

.offered-price-heading {
  margin-bottom: 0px;
}

.after-carousel-divider {
  display: block;
  margin-top: 25px;
}

#request-id {
  font-size: small;
  margin-bottom: 0;
}

#created-at {
  font-size: x-small;
  margin-bottom: 0;
}

/* for CreateRequestPage component */
#new-request-form-heading {
  text-align: center;
}

/* for bootstrap col-sm */
@media (min-width: 576px) {
  /* for RequestCard component */
  .request-card-productName {
    font-size: 0.8rem;
  }

  .request-card-country {
    font-size: 0.8rem;
  }

  .request-card-price {
    font-size: 0.7rem;
  }

  /* for RequestHelperView component */
  .product-name {
    text-align: left;
  }

  .after-carousel-divider {
    display: none;
  }
}

/* for bootstrap col-md */
@media (min-width: 768px) {
}

/* for bootstrap col-lg */
@media (min-width: 992px) {
}

/* for bootstrap col-xl */
@media (min-width: 1200px) {
}
