@import "~bootstrap/scss/bootstrap";

body {
  background-image: url("../public/images/css/wallpaper.jpg");
}

/* for navbar component */
.navbar {
  background-color: #ddddde !important;
}

.top-navbar {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 50px;

  #items {
    margin-left: auto;
  }
}

/* for HomePage component */
#no-requests-msg {
  text-align: center;
}

/* for RequestCard component */
.request-card-link {
  text-decoration: none;
}

.request-card {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.request-card-productName,
.request-card-price,
.request-card-country {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
  margin-bottom: 0.1rem;
}

.request-card-productName {
  font-size: 3vw;
}

.request-card-country {
  font-size: 3vw;
}

.request-card-price {
  font-size: 2.5vw;
}

/* for RequestHelperView component */
.fas {
  color: black;
}

.product-name {
  text-align: center;

  h4 {
    margin-bottom: 0px;
  }
}

.offered-price-heading {
  margin-bottom: 0px;
}

.after-carousel-divider {
  display: block;
  margin-top: 25px;
}

#request-id {
  font-size: small;
  margin-bottom: 0;
}

#created-at {
  font-size: x-small;
  margin-bottom: 0;
}

/* for RequestRequesterViewButton component */
#request-requester-view-button {
  margin-bottom: 5px;
}

/* for CreateRequestPage component */
#new-request-form-heading {
  text-align: center;
}

#create-request-form-container {
  margin-bottom: 20px;

  .form-text {
    color: black !important;
  }
}

/* for RequestsPage component */
#statuses-navbar {
  font-size: 3vw;
}

#statuses-navbar > div {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 5px;
}

#statuses-navbar > button {
  margin-left: 5px;
  margin-right: 5px;
  background-color: transparent;
  border: none;
}

.bottom-border {
  border-bottom: 1px solid black !important;
}

#requests-page-requests-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.requests-page-request-container {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #ddddde;
  background-color: #ffffffcc;

  p {
    margin-bottom: 0;
  }

  .request-helper-name,
  .request-price {
    font-size: 3vw;
  }
}

.requests-page-request-col {
  padding-left: 0;
}

.request-anchor {
  color: inherit;
  text-decoration: none;
}

/* for FavoursPage component*/
.favours-page-request-container {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #ddddde;
  background-color: #f8e6cfd6;

  p {
    margin-bottom: 0;
  }

  .request-helper-name,
  .request-price {
    font-size: 3vw;
  }
}

#favours-page-requests-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.request-requester-name {
  font-size: 3vw;
}

/* for bootstrap col-sm */
@media (min-width: 576px) {
  /* for RequestCard component */
  .request-card-productName {
    font-size: 0.8rem;
  }

  .request-card-country {
    font-size: 0.8rem;
  }

  .request-card-price {
    font-size: 0.5rem;
  }

  /* for RequestHelperView component */
  .product-name {
    text-align: left;
  }

  .after-carousel-divider {
    display: none;
  }

  /* for RequestsPage component */
  #statuses-navbar {
    font-size: 1rem;
  }

  .requests-page-request-container {
    .request-helper-name,
    .request-price {
      font-size: 0.9rem;
    }
  }

  /* for FavoursPage component*/
  .favours-page-request-container {
    .request-helper-name,
    .request-price {
      font-size: 0.9rem;
    }
  }

  .request-requester-name {
    font-size: 0.9rem;
  }
}

/* for bootstrap col-md */
@media (min-width: 768px) {
}

/* for bootstrap col-lg */
@media (min-width: 992px) {
}

/* for bootstrap col-xl */
@media (min-width: 1200px) {
}
